/* IMPORTAZIONE FONT WHITNEY */

@import url('https://fonts.cdnfonts.com/css/whitney-2');

body {          /* famiglie font Whitney */
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Bold', sans-serif;
}

/*PROPRIETÀ COMUNI */

*,              /*reset */
*::before,
*::after  {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}    

a {             /* link di header e footer */
    /* text-align: right; */
    text-decoration: none;
    color: white
}    

.boxes {            /* proprietà comuni dei box <div> */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}


/* HEADER - nav section */

nav {
    height: 6rem;
    background-color: #255ee9;
}        

.nav-container {      /* logo, links and CTA container */
    height: 100%;
    margin-inline: 15%;
}        

.main-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

.main-list .logo,
.main-list .cta {
    flex: 1 0 calc(25% - 6 * 1.5rem);
}

.main-list img {
    height: 2.5rem;
}

.main-list a {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: max-content;
    padding-inline: .25rem;
}

.main-list .cta {
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}    

.main-list .button {
    background-color: white;
    color: #12191f;
    font-weight: bold;
    padding-inline: 1rem;
    border-radius: 100px;
}

.main-list .link:hover {
    background-color: white;
    color: #12191f;
}

.main-list .button:hover {
    background-color: #12191f;
    color: white;
}


/* HEADER - title section */

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-text {
    font-size: 1.3em;
    margin-bottom: 0.25rem;
    line-height: 2em;
}

.header-title {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center center;
    aspect-ratio: calc(3360 / 1251);
    color: white;
    text-align: center;
}

.header-container {
    display: flex;
    min-height: 100%;
    margin-inline: 25%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

button {
    border: none;
    font-size: 1.3em;
    padding: 1rem 1.5rem;
    border-radius: 100px;
}

header .mac {
    background-color: #ffffff;
    color: #23272a;
}

header .browser {
    background-color: #23272a;
    color: #ffffff;
}


/* MAIN */


.contents h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.contents p {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

section .img { 
    flex: 0 0 50%;
}

.description {
    flex: 0 0 20%;
}

.grey {
    background-color: lightgrey;
    flex-direction: row-reverse;
}

.call-to-action {
    background-color: lightgrey;
    flex-direction: column-reverse;
    text-align: center;
}

.call-to-action .stars {
    order: -1;
    width: 70%;
}

.action {
    order: -2;
    line-height: 0;
}

section .mac {
    margin: 3rem 0;
    background-color: #7289da;
    color: #ffffff;
}




/* FOOTER */

footer {
    background-color: #23272a;
    padding: 1rem 0 1rem;
}

.foot {
    border-bottom: 3px solid grey;
}

.large {
    flex: 0 0 calc(70% / 3);
    height: 20rem;
    background-color: #f08080;
    border:  1px dashed black;;
}

.normal {
    height: 20rem;
    flex: 0 0 calc(70% / 6);
    background-color: #20b2aa;
    border:  1px dashed black;;
}

.bottom-nav {
    max-width: 70%;
    margin-inline: auto;
    background-color: #7fffd4;
    padding: 0.5rem 0;
    margin-top: 1.5rem;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span,
footer a,
footer .logo {
    background-color: #ffb6c1;
    border: 1px dashed black;
    flex: 0 0 auto;
    padding: 0.25rem;
    text-align: center;
}