/* IMPORTAZIONE FONT WHITNEY */

@import url('https://fonts.cdnfonts.com/css/whitney-2');

body {          /* famiglie font Whitney */
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Bold', sans-serif;
}

/*PROPRIETÀ COMUNI */

*,              /*reset */
*::before,
*::after  {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}    

a {             /* link di header e footer */
    /* text-align: right; */
    text-decoration: none;
    color: white
}    

.boxes {            /* proprietà comuni dei box <div> */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}


/* HEADER - nav section */

header nav {
    height: 6rem;
    background-color: #255ee9;
}        

.nav-container {      /* logo, links and CTA container */
    height: 100%;
    margin-inline: 15%;
}        

.main-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

.main-list .logo,
.main-list .cta {
    flex: 1 0 calc(25% - 6 * 1.5rem);
}

.main-list img {
    height: 2.5rem;
}

.main-list a {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: max-content;
    padding-inline: .25rem;
}

.main-list .cta {
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}    

.main-list .button {
    background-color: white;
    color: #12191f;
    font-weight: bold;
    padding-inline: 1rem;
    border-radius: 100px;
}

.main-list .link:hover {
    background-color: white;
    color: #12191f;
}

.main-list .button:hover {
    background-color: #12191f;
    color: white;
}


/* HEADER - title section */

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-text {
    font-size: 1.3em;
    margin-bottom: 0.25rem;
    line-height: 2em;
}

.header-title {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center center;
    aspect-ratio: calc(3360 / 1251);
    color: white;
    text-align: center;
}

.header-container {
    display: flex;
    min-height: 100%;
    margin-inline: 25%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

button {
    border: none;
    font-size: 1.3em;
    padding: 1rem 1.5rem;
    border-radius: 100px;
}

header a.mac {
    background-color: #ffffff;
    color: #23272a;
}

header .browser {
    background-color: #23272a;
    color: #ffffff;
}


/* MAIN */


.contents h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.contents p {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

section .img { 
    flex: 0 0 50%;
}

.description {
    flex: 0 0 20%;
}

section img {
    width: 50%;
}

.wave {
    display: block;
    width: 100%;
    aspect-ratio: 15 / 1;
}

.wave-mirror {
    display: block;
    width: 100%;
    aspect-ratio: 15 / 1;
    transform: scale(1, -1);
}

.grey {
    background-color: #d3d3d3;
    flex-direction: row-reverse;
}

.call-to-action {
    background-color: #d3d3d3;
    flex-direction: column-reverse;
    text-align: center;
}

.call-to-action .stars {
    order: -1;
    width: 70%;
}

.action {
    order: -2;
    line-height: 0;
}

section .mac {
    margin: 3rem 0;
    background-color: #7289da;
    color: #ffffff;
}




/* FOOTER */

footer {
    background-color: #23272a;
    padding: 1rem 0 1rem;
}


/* FOOTER - nav section */
.footer-nav {
    height: 30rem;
}        

.footer-nav-container {
    height: 100%;
    width: 70%;
    margin-inline: auto;
    border-bottom: 2px solid #4f5d8c;
    padding: 3rem 0 1rem;
}

.footer-nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    text-align: left;
}

.footer-nav-title {
    flex: 0 0 30%;
}

.footer-nav-title-small {
    flex: 0 0 20%;
    gap: 2rem;
}

.footer-nav-title > * {
    margin-bottom: 1.75rem;
}

.footer-nav-title p {
    color: #7289da;
    font-size: 2rem;
    font-weight: bold;
}

.footer-nav-title-small {
    color: #7289da;
    font-size: 1rem;
    font-weight: bold;
}

.footer-nav-title-small > * {
    margin-bottom: 1.25rem;
}

li .items {
    color: #ffffff;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 1.25rem;
}

.language {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 0.4rem;
}    

.flag {
    width: 2rem;
}    

.footer-nav-list span {
    color: #ffffff;
    font-size: 0.9rem;
}     

.language i {
    color: #ffffff;
    font-size: 0.8rem;
}     

.social {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 1.5rem;
}    

.social i {
    color: #ffffff;
    font-size: 1.5rem;
}


/* FOOTER - Call To Action section */

.footer-cta {
    height: 4rem;
}        

.footer-cta-container {      /* logo and CTA container */
    height: 100%;
    width: 70%;
    margin-inline: auto;
}        

.cta-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

.cta-list .logo,
.cta-list .cta {
    flex: 1 0 25%;
}

.cta-list img {
    height: 2.5rem;
}

.cta-list a {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: max-content;
    padding-inline: .25rem;
}

.cta-list .cta-button {
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}    

.cta-list .button {
    background-color: #7289da;
    color: #ffffff;
    padding-inline: 1rem;
    border-radius: 100px;
}

.cta-list .button:hover {
    background-color: #ffffff;
    color: #12191f;
}